#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

#modal-content {
  font-family: 'Roboto', sans-serif;
  position: absolute;
  background-color: rgb(116, 227, 246);
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10%;
}

#modal-content label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 10px;
}

#modal-content input {
  width: 100%;
  padding: 5px;
}
